{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    <h1>Hello {{ controller_name }}! ✅</h1>

    {{ "now"|date("m/d/Y") }}
</div>
{% endblock %}
